   *,
   :after,
   :before {
       box-sizing: border-box;
   }


   :root {
       --clr-text: oklch(21.6% 0.013 77.94);
       --clr-surface-100: oklch(92.48% 0.016 2.69);
       --clr-surface-200: oklch(89.43% 0.016 2.71);
       --clr-primary: oklch(50.79% 0.135 15.68);
       --clr-secondary: oklch(90.1% 0.025 8.21);
       --clr-accent: oklch(38.41% 0.156 29.02);
       --clr-archive-bg: oklch(66.71% 0.204 299.7 / 16.86%);
       --clr-disclaimer-bg: oklch(71.6% 0.17757988637756666 22.635751936973488 / 9.02%);
       --clr-trigger-bg: oklch(56.68% 0.117 77.74 / 12.94%);
       --clr-archive-fg: oklch(53.41% 0.099 284.66);
       --clr-disclaimer-fg: oklch(68.84% 0.2009097092872502 24.056063027505775);
       --clr-trigger-fg: oklch(62.38% 0.127 85.27);
       --fg-muted: oklch(37.07% 0.004 17.34);
       --fg-muted-1: oklch(82.74% 0.1007821868416206 5.483107052401224 / 7.84%);
       --fg-muted-2: oklch(82.74% 0.1007821868416206 5.483107052401224 / 14.12%);
       --tag: oklch(97.14% 0.013 0.26);


       --function: oklch(44.68% 0.205 328.36);
       --parameter: oklch(44.03% 0.16 303.37);

       --rounded-corner: 0.6rem;
       --fs-body: clamp(0.94rem, calc(0.94rem + 0.00vw), 0.94rem);
   }
   @media (prefers-color-scheme: dark) {
       :root {
           --clr-text: oklch(92.26% 0.024 30.49);
           --clr-surface-100: oklch(23.59% 0.004 286.11);
           --clr-surface-200: oklch(30.55% 0.012 331.35);
           --clr-primary: oklch(44.72% 0.072 12.99);
           --clr-secondary: oklch(24.52% 0.013 1.31);
           --clr-accent: oklch(80.69% 0.106 19.64);

           --function: oklch(86.77% 0.07354199863627744 7.08551427339547);
           --parameter: oklch(78.33% 0.108 326.54);

           --clr-trigger-fg: oklch(85.17% 0.119 93.85);
           --clr-archive-fg: oklch(77.48% 0.116 285.02);
           --clr-disclaimer-fg: oklch(68.84% 0.2009097092872502 24.056063027505775);
           --fg-muted: oklch(80.78% 0 0);
       }
   }

   html {
       background: var(--clr-surface-100);
       color-scheme: dark light;
       scroll-behavior: smooth;
       scrollbar-color: var(--scrollbar-color) var(--scrollbar-bg-color);
       font-family: monospace, sans-serif;
   }


   body {
       min-height: calc(100dvh - 12px);
       margin-inline: auto;
       display: grid;
       color: var(--clr-text);
       font-size: var(--fs-body);
       grid-template-columns:
       1fr [breakout-start] 1fr [content-start] minmax(0, 600px) [content-end] 1fr [breakout-end] 1fr;
       grid-column: content;
       grid-template-rows: auto 1fr auto;
       overflow-wrap: break-word;
       margin: 0;
       line-height: 1.5;

       & > header {
           grid-column: full-width;
           overflow: auto;
           padding-top: 12px;
           padding-bottom: 12px;
           font-weight: 600;
           grid-column: inherit;

           & > nav {
               padding: 1rem;
               display: flex;
               text-align: center;
               flex-wrap: wrap;
               justify-content: center;
               align-items: center;
               gap: .75rem;
           }
       }
       & > footer {
           margin-bottom: 1rem;
           margin-top: 3rem;
           grid-column: inherit;
           padding-inline: 0.6rem;
       }
   }

   main {
       grid-column: content;
       margin-inline: 12px;
   }

   header,
   nav,
   footer {
       text-align: center;
   }


   .skip-nav {
       position: absolute;
       background-color: var(--clr-primary);
       color: white;
       padding: 0.5rem 0.5rem 0.5rem 0.5rem;
       border-radius: var(--rounded-corner);
       transform: translateY(-900%);
       transition: transform 325ms ease-in;
       text-decoration: none;
       margin: 1rem;

       &:focus {
           transform: translateY(0);
           text-decoration: none;
           background-color: var(--clr-accent);
           color: white;
           font-style: italic;
           font-weight: bold;
       }
   }

   a {
       color: var( --clr-accent);
       text-decoration: underline;

       &:hover,
       &:focus {
           color: var( --clr-accent);
           text-decoration: underline dashed;
       }
   }

   img,
   video {
       max-width: 100%;
       border-radius: var(--rounded-corner);
   }

   figcaption {
       display: block;
       text-align: center;
       color: var(--fg-muted-4);
       font-size: 0.9rem;
   }

   blockquote {
       border-left: 0.25rem solid var(--clr-accent);
       border-radius: .2rem;
       color: var(--fg-muted);
       margin: 0;
       padding: 0 0.75rem;

       & & {
           border-radius: 0;
       }
   }

   .z-function {
       color: var(--function);
   }

   .z-parameter {
       color: var(--parameter);
   }

   .z-code {
       background: var(--clr-surface-200);
   }

   pre {
       line-height: normal;
       padding: 1rem;
       margin: 1rem 0 1rem;
       border-radius: var(--rounded-corner);
       max-width: 100vw;
       box-shadow: var(--shadow);
       overflow: auto;
   }

   time {
       font-size: 0.9rem;
   }

   @media (min-width: 480px) {
       time {
           font-size: 1.0rem;
       }
   }

   .statement-container {
       margin: 1rem 0 1rem;
       padding: 1rem 1rem 0.5rem 1rem;
       border-radius: var(--rounded-corner);

       * {
           margin: 0;
       }

       p,
       ul,
       ol {
           margin: 0.5rem 0 0.5rem;
       }

       .big {
           font-size: 1.5rem;
       }

       &.archive {
           background-color: var(--clr-archive-bg);
           color: var(--clr-archive-fg);
       }

       &.disclaimer {
           background-color: var(--clr-disclaimer-bg);
           color: var(--clr-disclaimer-fg);
       }

       &.trigger {
           background-color: var(--clr-trigger-bg);
           color: var(--clr-trigger-fg);
       }
   }

   table {
       border-collapse: collapse;
       border-radius: var(--rounded-corner);
       overflow: hidden;
       table-layout: fixed;
       width: 100%;
       text-align: left;
   }


   table tr th {
       background-color: var(--fg-muted-2);
   }

   table th, table td {
       padding: .5rem 1rem;
   }

   table tr:nth-child(2n) {
       background-color: var(--fg-muted-1);
   }

   kbd {
       background-color: var(--fg-muted-2);
       border-radius: 8px;
       box-shadow: inset 0 -2px 0 var(--fg-muted-2), 0 -1px 0 var(--fg-muted-3);
       cursor: pointer;
       display: inline-block;
       font-size: 0.8rem;
       line-height: normal;
       padding: 0.125rem 0.375rem;
       transition: 200ms;
       // Small nice thingy, keys can be pressed!
       &:active {
           background-color: var(--fg-muted-3);
           box-shadow: inset 0 1px 0 var(--fg-muted-2);
           transform: translateY(2px);
       }
   }

   hr {
       border: 0;
       border-top-width: 0px;
       border-top-style: none;
       border-top: 1px solid var(--clr-primary);
       margin: 2rem auto;
       width: 100%;
   }

   br {
       margin-bottom: 3px;
   }

   ::selection {
       background-color: var(--clr-accent);
       color: var(--clr-surface-100);
   }
