 .avatar {
     display: block;
     margin: 0 auto;
     border-color: #b37c7c;
     border-style: inset;

     &:hover {
      border-style: solid;
    }
 }

 .nb {
     color: var(--clr-text);
     border-bottom: 2px solid;
     border-image: linear-gradient(to right, oklch(81.78% 0.085 85.92) 0% 25%, oklch(95% 0.007 80.72) 25% 50%, oklch(70.2% 0.081 285.73) 50% 75%, oklch(47.33% 0.01 286.03) 75% 100%) 1;

     &:hover,
     &:focus {
         background-color: transparent;
         color: var(--clr-text);
         text-decoration: none;
     }
 }

.badge-list {
}

 .badge {
     border-radius: 0rem;

     &:hover,
     &:focus {
         background-color: transparent;
         color: var(--clr-text);
         text-decoration: none;
         border-style: solid;
         border-width: 0.19em;
         border-radius: .2rem;
     }
 }

 .button {
     background-color: var(--clr-primary);
     border: none;
     color: white;
     padding: 0.3rem 0.4rem;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     border-radius: 0.3rem;
     transition-duration: 0.5s;

 &:hover,
 &:focus {
    background-color: var(--clr-accent);
    color: white;
    text-decoration: none;
    }
 }

 .list-tag {
     display: inline-block;
     background: var(--clr-primary);
     padding: 0 .5rem;
     border-radius: 4px;
     color: var(--tag);
     font-size: 90%;
     text-decoration: none;

     &:before {
         padding-right: .5rem;
     }

     &:hover {
         text-decoration: none;
         background: var(--clr-accent);
         color: var(--tag);
     }

     transition: (all .1s ease-in-out);

     &:is(a):before {
         content: "#";
     }
 }

 .Char-card {
     display: grid;
     background-color: var(--fg-muted-2);
     border-radius: 0.3rem;
     line-height: 1.4;
     padding: calc(0.9rem - 1px);

     a {
         text-decoration: none;
         color: var(--clr-text);
         opacity: 0.8;
     }
     h2 {
         margin: 0;
         font-size: 1.25rem;
     }
     p {
         margin-top: 0.5rem;
         margin-bottom: 0;
     }
     img,
     video {
         opacity: unset;
         max-height: 4rem;
    }
 }

 .link-card {
     display: grid;
     background-color: var(--fg-muted-2);
     border-radius: 1rem;

     a {
         text-decoration: none;
         line-height: 1.4;
         padding: calc(1.5rem - 1px);
         border-radius: 8px;
         color: var(--clr-text);
         opacity: 0.8;
     }
     h2 {
         margin: 0;
         font-size: 1.25rem;
     }
     p {
         margin-top: 0.5rem;
         margin-bottom: 0;
     }

     &:hover,
     &:focus {
         border-style: solid;
     }
 }

 .link-card-grid {
     display: grid;
     gap: 1rem;
     padding: 0;
 }

 .links {
     background: var(--clr-surface-200);
     padding: .3rem .4rem;
     border-radius: .2rem;
     margin: 0 auto;

     &:hover {
         border-style: solid;
         border-width: 0.19em;
     }
}
