{% extends "base.html" %}

{% block seo %}
  {{ super() }}
  {% set title = "Tags" %}
  
  {% if config.title %}
    {% set title_addition = title_separator ~ config.title %}
  {% else %}
    {% set title_addition = "" %}
  {% endif %}
  
  {% if page.description %}
    {% set description = page.description %}
  {% else %}
    {% set description = config.description %}
  {% endif %}
{{ macros_head::seo(title=title, title_addition=title_addition) }}
{% endblock seo %}

{% block content %}
  <h1>Tags</h1>
    <p>🏷️ {% for term in terms %} <a class="list-tag" href="{{ term.permalink | safe }}"">{{ term.name }}</a> {% endfor %}</p>
      {%- for term in terms %}
      </br>
      <h2 id="{{ term.name }}">🏷️ {{ term.name }}</h2>
      {%- for page in term.pages %}
      <ul>
      <li>
      <p><a class="link-page" href="{{ page.permalink | safe }}">{{ page.title }}</a> - <time datetime="{{ page.date }}">{{ page.date | date(format="%F") }}</time></p>
      </li>
      </ul>
      {%- endfor %}
      {%- endfor %}
{% endblock content %}
