{% extends "base.html" %}

{% block seo %}
  {{ super() }}
  {% set title = "Tags" %}
  
  {% if config.title %}
    {% set title_addition = title_separator ~ config.title %}
  {% else %}
    {% set title_addition = "" %}
  {% endif %}
  
  {% if page.description %}
    {% set description = page.description %}
  {% else %}
    {% set description = config.description %}
  {% endif %}
{{ macros_head::seo(title=title, title_addition=title_addition) }}
{% endblock seo %}

{% block content %}
</br>
  <h1>🏷️ {{ term.name }}</h1>
    {%- for year, posts in term.pages | group_by(attribute="year") %}
      <h2>{{ year }}</h2>
        {%- for page in posts %}
          <p><a href="{{ page.permalink | safe }}">{{ page.title }}</a> - <time datetime="{{ page.date }}">{{ page.date | date(format="%F") }}</time></p>
            {%- endfor %}
            {%- endfor %}
{% endblock content %}
