{% macro footer() %}
<footer>
  <nav>
    <a href="{{ config.extra.source_url }}" target="_blank">Source</a> ·
    {% if config.generate_feeds %}
    <a href="/atom.xml" target="_blank">RSS feed</a> ·
    {% endif %}
    <a href="/credits">Credits</a>
    </br>
    <p>Copyright 2022</p>
    </nav>
</footer>
{% endmacro %}
