{% macro header() %}
<svg width="100px" height="100px" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 528.2 530.7"><g transform="translate(-867 -416)"><circle cx="1126.9" cy="681" r="215.8" style="fill:none;fill-opacity:1;stroke:var(--clr-accent);stroke-width:9.9295;stroke-dasharray:none;stroke-opacity:1"/><path d="M198 290c-2 0-3-52-29-78-25-25-75-25-75-27 0-1 50-6 75-31 26-26 27-73 29-73 1 0 2 47 28 73 26 25 76 30 76 31 0 2-50 2-76 27-26 26-27 78-28 78z" style="fill:var(--fg-muted);fill-opacity:1;stroke-width:16.621" transform="matrix(2.5 0 0 2.5 629 211)"/></g></svg>
{% endmacro %}
