{% extends "base.html" %}

{% block seo %}
  {{ super() }}
  {% set title = "Blogs" %}
  
  {% if config.title %}
    {% set title_addition = title_separator ~ config.title %}
  {% else %}
    {% set title_addition = "" %}
  {% endif %}
  
  {% if page.description %}
    {% set description = page.description %}
  {% else %}
    {% set description = config.description %}
  {% endif %}
{{ macros_head::seo(title=title, title_addition=title_addition, description=description, type="website") }}
{% endblock seo %}


{% block content %}
  <h1>Blogs</h1>
  <div>
    <a class="button" href="/categories">Categories</a>
    <a class="button" href="/tags">Tags</span></a>
  </div>
  <br />
  {% for page in section.pages %}
  <div>
    <a style="font-weight: 600;" href="{{ page.permalink | safe }}">{{ page.title }}</a>
     {%- if page.description %}
       <p>{{ page.description }}</p>
          {%- endif %}
          {%- if page.extra.images %}
           <img src="{{ config.base_url | safe }}/{{ page.extra.images }}" alt="" width="auto" height="auto"/>
           {%- endif %}
           <br />
          <time datetime="{{ page.date | date(format='%+') }}" pubdate>
         {{- page.date | date(format=config.extra.date_format) -}}
        </time>
  {% if page.taxonomies.tags %}
            {% for tag in page.taxonomies.tags %}
            <a href="{{ get_taxonomy_url(kind="tags", name=tag)}}" class="list-tag">{{ tag }}</a>
            {% endfor %}
          {% endif %}
          <hr />
      </div>
{% endfor %}
{% endblock content %}
