{% extends "base.html" %}

{% block seo %}
  {{ super() }}
  {% set title = page.title %}
  
  {% if config.title %}
    {% set title_addition = title_separator ~ config.title %}
  {% else %}
    {% set title_addition = "" %}
  {% endif %}
  
  {% if page.description %}
    {% set description = page.description %}
  {% else %}
    {% set description = config.description %}
  {% endif %}
{{ macros_head::seo(title=title, title_addition=title_addition, description=description) }}
{% endblock seo %}

{% block content %}
<article class="post">
  <h1 class="title">
    {{ page.title }}
  </h1>
  <span>
    <time class="time">{{ page.date | date(format="%B %d, %Y") }}</time>
    {% if page.updated %}
    <time class="time">(Last Updated On: {{ page.updated | date(format="%B %d, %Y") }})</time>
    {% endif %}
  </span>
  <p></p>
  {% if page.taxonomies.tags %}
    {% for tag in page.taxonomies.tags %}
      <a href="{{ get_taxonomy_url(kind="tags", name=tag) }}" class="list-tag">{{ tag }}</a>
    {% endfor %}
  {% endif %}
  {% if page.extra.archive %}
  <div class="statement-container archive">
    <strong class="big"> Archived</strong>
    {{ page.extra.archive | markdown | safe }}
  </div>
{% endif %}

{% if page.extra.trigger %}
  <div class="statement-container trigger">
    <strong class="big"> Trigger Warning</strong>
    {{ page.extra.trigger | markdown | safe }}
  </div>
{% endif %}

{% if page.extra.disclaimer %}
  <div class="statement-container disclaimer">
    <strong class="big"> Disclaimer(s)</strong>
    {{ page.extra.disclaimer | markdown | safe }}
  </div>
{% endif %}
  <span>
  </span>
  {{ page.content | safe }}
</article>
{% endblock content %}
