{% extends "base.html" %}

{% block seo %}
{{ super() }}
  {% set title = "Credits" %}

  {% if config.title %}
    {% set title_addition = title_separator ~ config.title %}
  {% else %}
    {% set title_addition = "" %}
  {% endif %}

{% set description = config.description %}

{{ macros_head::seo(title=title, title_addition=title_addition, description=description, is_home=true, type="website")
}}
{% endblock seo %}

{% block content %}
  <h1 id="Credits">Credits</h2>
  <p><a href="https://www.getzola.org" class="links">Zola (Framework)</a></p>
  <p><a href="https://daudix.codeberg.page" class="links">Duckquill (for inspiring me)</a></p>
<section>
  <h2>Licenses</h2>
  <p><a href="{{ config.extra.source_url }}raw/branch/production/Licenses/COPYING.CC-BY-SA" class="links">CC-BY-SA-4.0 (Content license)</a></p>
  <p><a href="{{ config.extra.source_url }}raw/branch/production/Licenses/COPYING.AGPL-V3" class="links">AGPL-3.0-only (Site license)</a></p>
  <p><a href="{{ config.extra.source_url }}raw/branch/production/Licenses/COPYING.NO-AI-ML-CLAUSE" class="links">No AI/ML clause (Site license clause)</a></p>
</section>
{% endblock content %}
