{% extends "base.html" %}
{% block seo %}
  {{ super() }}
  {% set title = "Home" %}

  {% if config.title %}
    {% set title_addition = title_separator ~ config.title %}
  {% else %}
    {% set title_addition = "" %}
  {% endif %}

{% set description = config.description %}

{{ macros_head::seo(title=title, title_addition=title_addition, description=description, is_home=true, type="website")
}}
{% endblock seo %}

{% block content %}
<h1>Hewwo :3c</h1>
  <img class="avatar zoom" src="/media/me.webp" title="mee :333" width="338px" height="338px" />
  <p>Welcome to my home</p>
  <h2>Friends and besties</h2>
    <p>here's a list of cute friens that i adore and love, check em out <3</p>
    <div class="badge-list">
    <img class="badge" src="/media/oomfie.webp" title="bnuy,," width="88px" height="31px" style="border-style: none; border-radius: 0;" />
    <a href="https://enby.space" target="_blank" rel="noopener noreferrer"><img class="badge" src="/media/nbsp.webp" title="Adorable bestie" width="88px" height="31px" /></a>
    <a href="https://mopigames.gay" target="_blank" rel="noopener noreferrer"><img class="badge" src="/media/mopi.webp" title="adorable" width="88px" height="31px" /></a>
    <a href="https://alyxia.dev" target="_blank" rel="noopener noreferrer"><img class="badge" src="/media/alyxia.webp" title="Silly alyxia" width="88px" height="31px" /></a>
    </div>
{% endblock content %}
