{% extends "base.html" %}

{% block seo %}
{{ super() }}
{% set title = "Portfolio" %}

{% if config.title %}
{% set title_addition = title_separator ~ config.title %}
{% else %}
{% set title_addition = "" %}
{% endif %}

{% if page.description %}
{% set description = page.description %}
{% else %}
{% set description = config.description %}
{% endif %}
{{ macros_head::seo(title=title, title_addition=title_addition, description=description, type="website") }}
{% endblock seo %}

{% block content %}
  <h1 id="Projects I work On">Portfolio</h1>
  <p>This is a list of Projects that I have worked on or Contributed to.</p>
  <p>👤: Personal project</p>
  <p>⚙️: Contributoring to</p>
  <p>⚠️: Work in progress</p>

    <h2 id="Coding">Code</h2>
<ul role="list" class="link-card-grid">
<li class="link-card">
	<a href="{{ config.extra.source_url }}">
		<h2>
			Rewrite V7 (This Site) 👤
			<span>&rarr;</span>
		</h2>
		<p>
			This site that you are viewing from!
		</p>
		   <p>
			<img src="/media/banner.webp" alt="oomfie.town image here"/>
		 </p>
	</a>
</li>
</ul>
<ul role="list" class="link-card-grid">
<li class="link-card">
	<a href="https://git.sr.ht/~oomfie/nyx">
		<h2>
			Nyx 👤
			<span>&rarr;</span>
		</h2>
		<p>
			My Nix based dotfile repo.
		</p>
		   <p>
			<img src="/media/nyx.webp" alt="nyx image here"/>
		 </p>
	</a>
</li>
<ul role="list" class="link-card-grid">
<li class="link-card">
	<a href="https://github.com/oomfiee/bnuy">
		<h2>
			Bnuy 👤
			<span>&rarr;</span>
		</h2>
		<p>
			A Fedora Atomic based distro.
		</p>
		   <p>
			<img src="/media/bnuy.webp" alt="bnuy image here"/>
		 </p>
	</a>
</li>
</ul>
  <h3 id="graphic design">
    Graphic Design
  </h3>
<ul role="list" class="link-card-grid">
  <li class="link-card">
	<a href="https://poketube.fun">
		<h2>
			Poke ⚙️
			<span>&rarr;</span>
		</h2>
		<p>
			Libre alternative frontend.
		</p>
		   <p>
			<img src="/media/poke.webp" alt="poketube image here"/>
		 </p>
	</a>
</li>
  <li class="link-card">
	<a href="https://codeberg.org/oomfie/cuterose">
		<h2>
			cuterose 👤
			<span>&rarr;</span>
		</h2>
		<p>
			The colo(u)rscheme that this site uses!
		</p>
		   <p>
			<img src="/media/cuterose.webp" alt="cuterose image here" height="300px" width="300px" style="display: block; margin-left: auto; margin-right: auto;" />
		 </p>
	</a>
</li>
</ul>
{% endblock content %}
