{% extends "base.html" %}

{% block seo %}
{{ super() }}
{% set title = "System" %}

{% if config.title %}
{% set title_addition = title_separator ~ config.title %}
{% else %}
{% set title_addition = "" %}
{% endif %}

{% if page.description %}
{% set description = page.description %}
{% else %}
{% set description = config.description %}
{% endif %}
{{ macros_head::seo(title=title, title_addition=title_addition, description=description, type="website") }}
{% endblock seo %}

{% block content %}
<h1>Nova System</h1>
<p>We are a <a href="https://morethanone.info/" target="_blank" rel="noopener noreferrer" class="links">Plural System.</a></p>

<h2>Headmates:</h2>

<ul role="list" class="link-card-grid">
<div class="Char-card">
	<a>
		<h2>Amy</h2>
        <p>Pronouns: She/Them</p>
        <p>Description: Bnuy entity, current fronter. [Non-binary]</p>
	</a>
</div>
</ul>
<ul role="list" class="link-card-grid">
<div class="Char-card">
	<a>
		<h2>Echo</h2>
        <p>Pronouns: They/Them</p>
        <p>Description: Adminstartive Machine entity. [Non-binary]</p>
	</a>
</div>
</ul>
<ul role="list" class="link-card-grid">
<div class="Char-card">
	<a>
		<h2>Nyx</h2>
        <p>Pronouns: She/Her</p>
        <p>Description: Bnuy entity, very friendly. [Female]</p>
	</a>
</div>
<div class="Char-card">
	<a>
		<h2>Frey</h2>
        <p>Pronouns: Fae/Faer</p>
        <p>Description: [Unknown]</p>
	</a>
</div>
</ul>
{% endblock %}
