/**
 * @name oomfie's theme
 * @author oomfie
 * @version 0.0.2
 * @description my custom colorscheme.
 */

@import url("https://raw.githubusercontent.com/tom22k/discord-css/main/Themes/HideNitroUpsellV2.css");

:root {
    --font-primary: system-ui;
    --font-display: system-ui;
    --font-headline: system-ui;
    --font-code: "Jetbrains Mono";
}

.improvedUpsellContainer-GX81ui {
    display: none;
}

button[aria-label="Send a gift"] {
    display: none;
}

.premiumTab_c10c74 {
    display: none;
}

.questionMark-3V9mGJ {
    display: none;
}

.giftAction-ACtHBA {
    display: none;
}

.upsellFooter-1H_OCF {
    display: none;
}

.tier0Container_dc391a {
    display: none;
}

.bannerNitroUpsellText_ab876d {
    display: none;
}

.bannerNormal__24a0e {
    pointer-events: none;
}

.imagePickerContainer-1VjOgi > .optionBox-1UOevl:last-of-type {
    display: none;
}

.upsellOverlayContainer_eb49af {
    display: none;
}

li.channel_c91bad:nth-child(3) > div:nth-child(1) {
    display: none;
}

.shinyButton_d5e126 {
    display: none;
}

.premiumPromo_ca9b56 {
    display: none;
}

.upsellWrapper_b8772d {
    display: none;
}

.upsell_b82429 {
    display: none;
}


.botTag_f9f2ca {
    display: none;
}

.ctaButton_c938c7 {
    display: none;
}

.tryItOutSection_eb2d2c {
    display: none;
}


/* Stickers same size as emojis */
.assetWrapper-3GNt0z {
    max-width: 48px;
    max-height: 48px;
}

/* Removes the nitro button at left-bottom */
.fixedBottomList-1yrBla {
    display: none;
}

/* Removes the Big Nitro Button */
a[href="/store"] {
    display: none;
}

/* Removes "Support" question mark button */
a[href="https://support.discord.com"]
{
    display: none;
}

/* Removes "Support" question mark button from search popup */
.searchLearnMore_b0286e {
    display: none;
}

/* Removes "Gift nitro" button from message bar */
button[aria-label="Send a gift"] {
    display: none;
}

/* Removes "Sticker picker" button from message bar */
button[aria-label="Open sticker picker"] {
    display: none;
}

/* Hides "Mark as Read" and icon in the "Unread messages" notification */
.barButtonAlt_cf58b5.barButtonBase_cf58b5 {
    display: none;
}

[class*=channelAppLauncher_] {
    display: none;
}

/* Credits: https://gist.github.com/TheEvilSkeleton/7b8199d66a01a3c6f5b3481fb64ce3db */
[id*="popout_"] > div > div > div[class*="custom-profile-theme"],
#app-mount > div[class*="appAsidePanelWrapper_"] > div[class*="notAppAsidePanel_"] > div:nth-child(4) div[class*="custom-profile-theme"] {
--profile-gradient-primary-color: var(--background-secondary-alt) !important;
--profile-gradient-secondary-color: var(--background-secondary-alt) !important;
--profile-gradient-overlay-color: rgba(0, 0, 0, 0) !important;
--profile-gradient-button-color: var(--button-secondary-background) !important;
--profile-avatar-border-color: var(--background-secondary-alt) !important;
--profile-body-background-color: var(--background-floating) !important;
--profile-body-background-hover: var(--background-modifier-hover) !important;
--profile-body-divider-color: var(--background-modifier-accent) !important;
--profile-body-border-color: var(--border-faint) !important;
--profile-message-input-border-color: var(--background-modifier-accent) !important;
--profile-note-background-color: var(--background-tertiary) !important;
--profile-role-pill-background-color: var(--background-secondary-alt) !important;
--profile-role-pill-border-color: var(--interactive-normal) !important;
--theme-base-color-light-hsl: unset !important;
--theme-base-color-light: unset !important;
--theme-text-color-light: unset !important;
--theme-base-color-dark-hsl: unset !important;
--theme-base-color-dark: unset !important;
--theme-text-color-dark: unset !important;
--theme-base-color-amount: unset !important;
--theme-text-color-amount: unset !important;
}

div[class*="container_"]:has(> div[class*="artContainer_"]),
div[class*="upsellContainer_"],
div[class*="stormContainer"],
div[class*="upsellOverlayContainer_"],
#message-add-reaction-1,
#message-tts,
[aria-label="Send a gift"],
[aria-label="Add Super Reaction"],
[aria-label="User Badges"],
button[id="super-reaction-picker-tab"],
button[id="sticker-picker-tab"],
[class*="userPopoutInner"] [class*="wrapper"] [class*="banner"],
[class*="avatarDecoration"],
[mask*="url(#svg-mask-avatar-decoration-status"],
[class*="bannerSVGWrapper"] mask image,
[class*="premiumFeatureBorder_"],
[class*="shopForAllBackgroundImage_"],
[class*="premiumIconWrapper_"],
div[class*="gifTag_"],
div[class*="profileEffects"],
div[class*="channelAppLauncher_"]
{
    all: unset !important;
    display: none !important;
}

[mask="url(#svg-mask-avatar-decoration-profile-status-square-80)"] {
    mask: url("#svg-mask-avatar-status-round-80") !important;
}

[mask="url(#svg-mask-avatar-decoration-profile-status-mobile-square-80)"] {
    mask: url("#svg-mask-avatar-status-mobile-80") !important;
}
